	<br><br><br><br><br><br>
	<div class="container">
			<hr>
			<h2>Pageslide Demo (Pageslide plugin)</h2>
			<h4>I can include copy, images, or HTML.  My size can be adjusted.</h4>
			<hr>
			<br>	
	</div>			
		
		<!-- PAGE SLIDE ------->
		<div class="container">
			<div id="content">
				<ul>
					<li>
						<h2>RIGHT SIDE</h2>
						<a href="#theSide" class="first">Open the page slide on the right.  Can be closed by clicking anywhere outside the pageslide.</a>
					</li>
					<li>
						<h2>SLIDE AND LOCK</h2>
						<a href="#theSide" class="second">Open the slide and lock.  Can only be closed manually.</a>
					</li>
					<li>
						<h2>API DRIVEN</h2>
						<a href="javascript:$.pageslide({ direction: 'left', href: '#theSide' })">Open the page programatically.</a>
					</li>
				</ul>
				
				
				
				<div id="theSide" style="display: none">
					<h2>CONTENT GOES HERE</h2>
					<h3></h3>
					<h3><a href="javascript:$.pageslide.close()">Close</a></h3>
				</div>
				
				
			</div>
		</div>
		<!--------------------->
		
			<script>
			
				/* Default pageslide, moves to the right */
				$(".first").pageslide();
				
				/* Slide to the left, and make it model (you'll have to call $.pageslide.close() to close) */
				$(".second").pageslide({ direction: "left", modal: true });	

			</script>
			