		<div class="container">
			
			<hr>
			<h2>AngularJS</h2>
			<h4>Will add more to this when I have a better understanding of it. But until then, we have some...</h4>
			<hr>
			<br>	
			
		</div>


<div id="angularApp" class="container">
	<h1>DATA BINDING</h1>
	<hr>
                 <h1> - {{inputA}}</h1>
				 <h1> - {{inputB}}</h1>
				 <h1> - {{inputC}}</h1>
				 <HR>
                 <h4>{{inputD}}</h4>
				 <hr>
				 <H5>{{inputE}}<h5>
				 
	<hr>
	<a class="btn metro colorSchemeA" onclick="updateHeader()">UPDATE</a>
</div>



<script>
		
		/////////////////
		//ANGULAR UPDATE
		$().ready(function() {		
			angular.bootstrap(document);	
		})		
		
		function updateHeader(){
			
			var scope = angular.element( $('#angularApp') ).scope() 
			scope.inputA = "Input A"	
			scope.inputB = "Input B"	
			scope.inputC = "Input C"	
			
			scope.inputD = "GravityJack is the best!"	
			scope.inputE = "Allen is also the best!"	
			
			scope.$digest();
		}		
		
		/////////////////


</script>