
	<div class="col-xs-12">
		<div id="lsModal" class="modal" tabindex="-1" data-focus-on="input:first" data-backdrop="static" data-keyboard="false"  style="display: none;">

				  <div class="modal-body">

						<div class="progress progress-striped active">
						  <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							<span class="sr-only">45% Complete</span>
						  </div>
						</div>

						<p style="text-align: center" > Loading... please wait... </p>
				  </div>

		</div>	
		
		
		<div id="subLoader" class="" tabindex="-1" data-focus-on="input:first" data-backdrop="static" data-keyboard="false">

				<div id="" class="">
					<div style="position: fixed; bottom: 1%; left: 2%;">
						<img src="loadingImg/loadingIcon_7.gif" />
					</div>	
				</div>	
		</div>	
			
	</div>
	
	


	
	
	<div id="loading1" class="">
		<div style="position: fixed; bottom: 2%; right: 48%">
			<img src="loadingImg/loadingIcon_1.gif" />
		</div>	
	</div>	
	
	<div id="loading2" class="">
		<div style="position: fixed; bottom: 2%; right: 5%">
			<img src="loadingImg/loadingIcon_2.gif" />
		</div>	
	</div>
	

	<div id="loading6" class="">
		<div style="position: fixed; bottom: 2%; right: 5%">
			<img src="loadingImg/loadingIcon_6.gif" />
		</div>	
	</div>		
	


	<script>
	var mainLoader;
	mainLoader = mainLoader || (function () {
		var theModal = $('#lsModal');
		theModal.css('top', '25%'); 

		return {
			show: function() {
				if (!$('#lsModal').hasClass('in')){
					theModal.modal();
				}
			},
			hide: function () {
				setTimeout( function(){
					theModal.modal('hide');
				}, 500);
			},
		};
		
	})();	
	
	var subLoader;
	subLoader = subLoader || (function () {
		var theModal = $('#subLoader');
		theModal.css('top', '25%'); 
		theModal.fadeOut(0)
		return {
			show: function() {
				if (!$('#lsModal').hasClass('in')){
					theModal.fadeIn(500)
					theModal.modal();
				}
			},
			hide: function () {
				theModal.fadeOut(500)
				setTimeout( function(){
					
					theModal.modal('hide');
				}, 500);
			},
		};
		
	})();		
	
	

	

	var loading1;
	loading1 = loading1 || (function () {
		var theModal = $('#loading1');
		theModal.fadeOut(0)
		

		return {
			show: function() {
				theModal.fadeIn(500)
				
			},
			hide: function () {	
				setTimeout(function(){
					theModal.fadeOut(500);						
				}, 500)
				
			},
		};
		
	})();	
	
	var loading2;
	loading2 = loading2 || (function () {
		var theModal = $('#loading2');
		theModal.fadeOut(0)
		

		return {
			show: function() {
				theModal.fadeIn(500)
				
			},
			hide: function () {	
				setTimeout(function(){
					theModal.fadeOut(500);						
				}, 500)
				
			},
		};
		
	})();	

	var loading6;
	loading6 = loading6 || (function () {
		var theModal = $('#loading6');
		theModal.fadeOut(0)
		

		return {
			show: function() {
				theModal.fadeIn(500)
				
			},
			hide: function () {	
				setTimeout(function(){
					theModal.fadeOut(500);						
				}, 500)
				
			},
		};
		
	})();


		
	
	
	
		
	</script>