		<style>
		.filedrag
		{
			min-height: 200px;
			height: 300px;
			border: 2px dashed #555;
		}
		
		.filedrag-active{
			border: 2px s #555;
		}

		.dropContainer{
			overflow: hidden;
		}
	</style>	
		
		
		<div class="container">
			<hr>
			<h2>Drag and Drop (no container)</h2>
			<h4>I'm designed to catch your eye!  (And take up the entire width).</h4>
			<hr>
			<br>	
		</div>
	
		<div class="container">

		
						<div class="col-xs-6 dropContainer">
								<div class="colorSchemeWhite">
								
									<h3 class="dropText"  style="position: absolute; text-align: center; top: 40%; left: 25%">Drag image here to query</h3>
									
									<canvas class="hidden"></canvas> 															
									<div class="filedrag" ondrop="drop(event, this)" ondragover="allowDrop(event, this)" ondragleave="leaveDrag(event, this)"  >
										<div id="dragAndDropDisplay" class="pointer-events: none">
											<div style="position: absolute; left: 45%; top: 20%">
												<!-- <img src="siteImg/upload.png" /> -->
											</div> 
										</div>																
										<div class="previewContainer">
										</div>	
									</div>
								</div>
						</div>	

						<div class="col-xs-6 dropContainer">
								<div class="colorSchemeWhite">
								
									<h3 class="dropText"  style="position: absolute; text-align: center; top: 40%; left: 25%">Drag image here to query</h3>
									
									<canvas class="hidden"></canvas> 															
									<div class="filedrag" ondrop="drop(event, this)" ondragover="allowDrop(event, this)" ondragleave="leaveDrag(event, this)"  >
										<div id="dragAndDropDisplay" class="pointer-events: none">
											<div style="position: absolute; left: 45%; top: 20%">
												<!-- <img src="siteImg/upload.png" /> -->
											</div> 
										</div>																
										<div class="previewContainer"></div>	
									</div>
								</div>
						</div>	
						
		
		</div>
		
		<br><br>
		<div class="container">

		
						<div class="col-xs-4 dropContainer">
								<div class="colorSchemeWhite">
								
									<h4 class="dropText"  style="position: absolute; text-align: center; top: 35%; left: 25%">Drag image here to query</h4>
									
									<canvas class="hidden"></canvas> 															
									<div class="filedrag" ondrop="drop(event, this)" ondragover="allowDrop(event, this)" ondragleave="leaveDrag(event, this)"  >
										<div id="dragAndDropDisplay" class="pointer-events: none">
											<div style="position: absolute; left: 45%; top: 20%">
												<!-- <img src="siteImg/upload.png" /> -->
											</div> 
										</div>																
										<div class="previewContainer">
										</div>	
									</div>
								</div>
						</div>	

						<div class="col-xs-4 dropContainer">
								<div class="colorSchemeWhite">
								
									<h4 class="dropText"  style="position: absolute; text-align: center; top: 35%; left: 25%">Drag image here to query</h4>
									
									<canvas class="hidden"></canvas> 															
									<div class="filedrag" ondrop="drop(event, this)" ondragover="allowDrop(event, this)" ondragleave="leaveDrag(event, this)"  >
										<div id="dragAndDropDisplay" class="pointer-events: none">
											<div style="position: absolute; left: 45%; top: 20%">
												<!-- <img src="siteImg/upload.png" /> -->
											</div> 
										</div>																
										<div class="previewContainer"></div>	
									</div>
								</div>
						</div>	

						<div class="col-xs-4 dropContainer">
								<div class="colorSchemeWhite">
								
									<h4 class="dropText"  style="position: absolute; text-align: center; top: 35%; left: 25%">Drag image here to query</h4>
									
									<canvas class="hidden"></canvas> 															
									<div class="filedrag" ondrop="drop(event, this)" ondragover="allowDrop(event, this)" ondragleave="leaveDrag(event, this)"  >
										<div id="dragAndDropDisplay" class="pointer-events: none">
											<div style="position: absolute; left: 25%; top: 20%">
												<!-- <img src="siteImg/upload.png" /> -->
											</div> 
										</div>																
										<div class="previewContainer"></div>	
									</div>
								</div>
						</div>							
						
		
		</div>		
		
		<br><br><br><br><br><br>
		

		
<script>	
	//  DRAG AND DROP    ///
	////////////////////////
	function allowDrop(e, div)
	{			
		$(div).css('opacity', .5)
		$(div).addClass('filedrag-active')
		e.preventDefault();
	}
	
	function leaveDrag(e, div){
		$(div).css('opacity', 1)
		$(div).removeClass('filedrag-active')
	}
	
	function dragOver(e){
		e.preventDefault();
	}

	function drag(e)
	{
		e.dataTransfer.setData("Text",e.target.id);
	}

	function drop(e, div)
	{
		
		var rootContainer = $(div).closest('.dropContainer')
		$(div).css('opacity', 1)
		e.preventDefault();
		var files = e.dataTransfer.files;
		theImageData =  e.dataTransfer.files[0]		
		$(div).removeClass('filedrag-active')
		readURL(e.dataTransfer, rootContainer);
		
		
	}
	// END DRAG/DROP     ///
	////////////////////////
		


	//  READ IMAGE DATA   //
	////////////////////////	
    function readURL(input, rootContainer) {
		var myCanvas = $(rootContainer).find('canvas')	
		clearCanvas( $(myCanvas) )
	
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
				var image = new Image();
				image.src = e.target.result;			
				image.onload = function(){
					drawToCanvas(  e.target.result,  rootContainer, $(myCanvas), 0, 0, this.width, this.height );					
				}
            }
            reader.readAsDataURL(input.files[0]);
        }	
    }
	
	function clearCanvas(canvasId){
		var theCanvas = canvasId[0],
			context = theCanvas.getContext('2d')	
			context.clearRect(0, 0, theCanvas.width, theCanvas.height);
	}				
	
	function drawToCanvas(imageData, rootContainer, canvasId, sx, sy, sw, sh){
				var image = new Image();
				image.src = imageData;
				image.onload = function(){	
					var theCanvas = canvasId[0],
						context = theCanvas.getContext('2d')			
							theCanvas.width = sw
							theCanvas.height = sh
							context.drawImage(this, sx,sy, sw, sh, 0, 0, sw, sh);
							canvasToImage(theCanvas.toDataURL("image/jpg"), rootContainer )
							loadingScreen.hide();
							$('#buttonMenu').removeClass('hidden')					
				}
	
	}		

	function canvasToImage( dataURL, rootContainer ){
	
		var myCanvas 			= $(rootContainer).find('canvas')
		var fileContainer		= $(rootContainer).find('.filedrag')
		var previewContainer	= $(rootContainer).find('.previewContainer')
		var dropText			= $(rootContainer).find('.dropText')
	
		var image = new Image();
		image.src = dataURL
		image.onload = function(){	
			
			// REMOVE AND BUILD IMAGE
			$(previewContainer).empty();	
			var buildString = '<img src=" ' + image.src + ' " class="img-responsive" />'			
			$(previewContainer).append(buildString)
				
				var imgContainer = 	$(rootContainer).find('.img-responsive')
				// UPDATE ANGULAR
				widthRatio  = this.width  / $(imgContainer).width()
				heightRatio = this.height / $(imgContainer).height()													

				// RESIZE CONTAINER					
				$(fileContainer).css( "max-height",  $(imgContainer).height() 	+ ($(fileContainer).css('padding')*2) );
				$(fileContainer).css( "max-width", $(imgContainer).width()	 	+ ($(fileContainer).css('padding')*2) );
				
				$(imgContainer).css(  "max-height",  $(imgContainer).height() 	+ ($(fileContainer).css('padding')*2)  )
				$(imgContainer).css(  "max-width", $(imgContainer).width()	 	+ ($(fileContainer).css('padding')*2) )
				// REMOVE TEXT
				dropText.html('');

		}
	

	}	
	//  END IMAGE DATA    //
	////////////////////////	
</script>	