
<nav class="navbar navbar-default navbar-fixed-top " role="navigation">
 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span> 
	  <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span> 
    </button>
	
	
    <a class="navbar-brand btn" onclick="changeHash('home')">BOOTSTRAP KIT v1</a>
	
  </div>

 
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">

		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Layouts <b class="caret"></b></a>
			<ul class="dropdown-menu">
			  <li><a href="#basic">Basic</a></li>
			  <li><a href="#grid">Grid</a></li>
			  <li><a href="#standard">Layout 1</a></li>
			
			  <li><a href="#layout1">Layout 2</a></li>
		
			  <li><a href="#layout2">Layout 3</a></li>
			  <li><a href="#carousel">Carousel</a></li>
			</ul>
		</li>
		
		<li class=""><a class="" href="javascript:$.pageslide({ direction: 'right', href: '#rightSide' })">Components</a></li>
		<li class=""><a class="" href="javascript:$.pageslide({ direction: 'left',  href: '#leftSide' })">Transitions</a></li>	
    </ul>


  </div>
</nav>



