	
	
	<br><br><br><br><br><br>
	<div class="container">
			<hr>
			<h2>Login Centred (no validation)</h2>
			<h4>A basic login/register page without validation</h4>
			<hr>
			<br>	
	
	
	
		<div class="col-md-6 col-md-offset-3">
			<form role="form">
			  <div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
			  </div>
			  <div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			  </div>
			  <div class="form-group">
				<p class="help-block">Example block-level help text here.</p>
			  </div>
			  <div class="checkbox">
				<label>
				  <input type="checkbox"> Check me out
				</label>
			  </div>
			  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
			</form>
		</div>
	<br><br><br>		
	</div>
	<br><br><br><br><br><br>
	<div class="container">
			<hr>
			<h2>Login Inline (no validation)</h2>
			<h4>A basic login/register page that's built to be inline</h4>
			<hr>
			<br>
	
	<br><br><br>
		<div class="col-md-6 col-md-offset-3">
			<form class="form-horizontal" role="form">
			  <div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
				<div class="col-sm-10">
				  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
				</div>
			  </div>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
				  <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
				</div>
			  </div>
			  <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				  <div class="checkbox">
					<label>
					  <input type="checkbox"> Remember me
					</label>
				  </div>
				</div>
			  </div>
			  <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				  <button type="submit" class="btn btn-default">Sign in</button>
				</div>
			  </div>
			</form>
		</div>
	<br><br><br>		
	</div>	
	
	<br><br><br><br><br><br>
	<br><br><br><br><br><br>
