			<div class="container">
				<hr>
				<h2>Bootstrap Grid Layout (Fixed)</h2>
				<h4>Bootstrap utilizes a 12 point grid system for it's layout needs.  Below is an example of how it looks.  A div with a 12 setting, for example, fills up the entire container and any 
				combination that reaches twelve has the same effect (8/4 6/6 4/4/4 etc).  When it exceeds twelve, it automatically moves down to the next row.</h4>
				<br>
				<h5>It's important to note that anything within a container (as in these next three examples) have a max-width of 1024px.  This is a Bootstrap constraint and it is rather difficult to change (ie, design with this aspect ratio).</h5>
				<br>
				<h5>Also note that that I <EM>cannot</em> directly assign a <code>height</code> to Bootstrap elements.  The height is determined by the contents of the DIV.</h5>
				<hr>
				
				<br>
			</div>


<div class="container">

	<div class="row">
	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>			
		<br>
		
	
	
	</div>
	<br>
	
	
	<div class="row">
	
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 colorSchemeA">
			<BR><BR>
			<p> 2 </p>
			<BR><BR>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 colorSchemeB">
			<BR><BR>
			<p> 2 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 colorSchemeA">
			<BR><BR>
			<p> 2 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 colorSchemeB">
			<BR><BR>
			<p> 2 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 colorSchemeA">
			<BR><BR>
			<p> 2 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 colorSchemeB">
			<BR><BR>
			<p> 2 </p>
			<BR><BR>
		</div>	
	</div>
	<br>
	
	<div class="row">
	
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 colorSchemeA">
			<BR><BR>
			<p> 3 </p>
			<BR><BR>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 colorSchemeB">
			<BR><BR>
			<p> 3 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 colorSchemeA">
			<BR><BR>
			<p> 3 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 colorSchemeB">
			<BR><BR>
			<p> 3 </p>
			<BR><BR>
		</div>	

	</div>
	<br>

	<div class="row">
	
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 colorSchemeA">
			<BR><BR>
			<p> 4 </p>
			<BR><BR>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 colorSchemeB">
			<BR><BR>
			<p> 4 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 colorSchemeA">
			<BR><BR>
			<p> 4 </p>
			<BR><BR>
		</div>	


	</div>
	<br>

	<div class="row">
	
		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 colorSchemeA">
			<BR><BR>
			<p> 5 </p>
			<BR><BR>
		</div>
		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 colorSchemeB">
			<BR><BR>
			<p> 5 </p>
			<BR><BR>
		</div>	


	</div>
	<br>

	<div class="row">
	
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colorSchemeA">
			<BR><BR>
			<p> 6 </p>
			<BR><BR>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colorSchemeB">
			<BR><BR>
			<p> 6 </p>
			<BR><BR>
		</div>	


	</div>
	<br>	

</div>

<br><br><br><br><br><br>

	<div class="container">
		<hr>
		<h2>Nested Bootstrap Grid Layout (Fixed)</h2>
		<h4>DIVs can be nested in other DIVs.  In the following example, we are utilizing a DIV with a width setting of 6 (or half the screen).  Then other grid layouts are inserted within it.  This, in effect, gives us a wide range of DIV sizes to manipulate.</h4>
		<hr>
		<br>
	</div>

<div class="container">

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colorSchemeA">
			
			<div class="row">
			
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>			
				<br>
				
			
			
			</div>
		
		</div>	
	</div>
	

</div>

<br><br><br><br><br><br>


<div class="container">

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colorSchemeA">
			
			<div class="row">
			
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 colorSchemeA">
					<BR><BR>
					<p> 4 </p>
					<BR><BR>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 colorSchemeB">
					<BR><BR>
					<p> 4 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 colorSchemeA">
					<BR><BR>
					<p> 4 </p>
					<BR><BR>
				</div>	


			</div>
		
		</div>	
	</div>
	

</div>
<br><br><br><br><br><br>


<div class="container">

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colorSchemeA">
			
				<div class="row">
				
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colorSchemeA">
						<BR><BR>
						<p> 6 </p>
						<BR><BR>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colorSchemeB">
						<BR><BR>
						<p> 6 </p>
						<BR><BR>
					</div>	


				</div>
		
		</div>	
	</div>
	

</div>





<br><br><br><br><br><br>


	


	<div class="container">
		<hr>
		<h2>Nested Bootstrap Grid Layout Cont. (Fixed)</h2>
		<h4>Whereas the previous example had a DIV width setting of 6, this one uses a size of 10.</h4>
		<hr>
		<br>
	</div>
<div class="container">

	<div class="row">
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 colorSchemeA">
			
			<div class="row">
			
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>			
				<br>
				
			
			
			</div>
		
		</div>	
	</div>
	

</div>

<br><br><br><br><br><br>


<div class="container">

	<div class="row">
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 colorSchemeA">
			
			<div class="row">
			
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 colorSchemeA">
					<BR><BR>
					<p> 4 </p>
					<BR><BR>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 colorSchemeB">
					<BR><BR>
					<p> 4 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 colorSchemeA">
					<BR><BR>
					<p> 4 </p>
					<BR><BR>
				</div>	


			</div>
		
		</div>	
	</div>
	

</div>
<br><br><br><br><br><br>


<div class="container">

	<div class="row">
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 colorSchemeA">
			
				<div class="row">
				
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colorSchemeA">
						<BR><BR>
						<p> 6 </p>
						<BR><BR>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colorSchemeB">
						<BR><BR>
						<p> 6 </p>
						<BR><BR>
					</div>	


				</div>
		
		</div>	
	</div>
	

</div>




<br><br><br><br><br><br>
<br><br><br><br><br><br>

	<div class="container">
		<hr>
		<h2>Grid Layout (Full screen)</h2>
		<h4>A full screen effect can be achieved by merely eliminating the container DIV.</h4>
		<br>
		<h4>These examples break the 1024 max-width style that Bootstrap natively imposes.</h4>
		<hr>
		<br>
	</div>

	

<div class="">

	<div class="row">
	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
			<BR><BR>
			<p> 1 </p>
			<BR><BR>
		</div>			
		<br>
		
	
	
	</div>
	<br>
	<div class="row">
	
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 colorSchemeA">
			<BR><BR>
			<p> 2 </p>
			<BR><BR>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 colorSchemeB">
			<BR><BR>
			<p> 2 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 colorSchemeA">
			<BR><BR>
			<p> 2 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 colorSchemeB">
			<BR><BR>
			<p> 2 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 colorSchemeA">
			<BR><BR>
			<p> 2 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 colorSchemeB">
			<BR><BR>
			<p> 2 </p>
			<BR><BR>
		</div>	
	</div>
	<br>
	
	<div class="row">
	
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 colorSchemeA">
			<BR><BR>
			<p> 3 </p>
			<BR><BR>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 colorSchemeB">
			<BR><BR>
			<p> 3 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 colorSchemeA">
			<BR><BR>
			<p> 3 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 colorSchemeB">
			<BR><BR>
			<p> 3 </p>
			<BR><BR>
		</div>	

	</div>
	<br>

	<div class="row">
	
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 colorSchemeA">
			<BR><BR>
			<p> 4 </p>
			<BR><BR>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 colorSchemeB">
			<BR><BR>
			<p> 4 </p>
			<BR><BR>
		</div>	
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 colorSchemeA">
			<BR><BR>
			<p> 4 </p>
			<BR><BR>
		</div>	


	</div>
	<br>

	<div class="row">
	
		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 colorSchemeA">
			<BR><BR>
			<p> 5 </p>
			<BR><BR>
		</div>
		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 colorSchemeB">
			<BR><BR>
			<p> 5 </p>
			<BR><BR>
		</div>	


	</div>
	<br>

	<div class="row">
	
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colorSchemeA">
			<BR><BR>
			<p> 6 </p>
			<BR><BR>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colorSchemeB">
			<BR><BR>
			<p> 6 </p>
			<BR><BR>
		</div>	


	</div>
	<br>	

</div>

<br><br><br><br><br><br>

	<div class="container">
		<hr>
		<h2>Grid Layout Nested (Full screen)</h2>
		<h4>The same goes for nested DIVs.</h4>
		<hr>
		<br>
	</div>
	
<div class="">

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colorSchemeA">
			
			<div class="row">
			
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeA">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 colorSchemeB">
					<BR><BR>
					<p> 1 </p>
					<BR><BR>
				</div>			
				<br>
				
			
			
			</div>
		
		</div>	
	</div>
	

</div>
	
<br><br><br><br><br><br>


<div class="">

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colorSchemeA">
			
			<div class="row">
			
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 colorSchemeA">
					<BR><BR>
					<p> 4 </p>
					<BR><BR>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 colorSchemeB">
					<BR><BR>
					<p> 4 </p>
					<BR><BR>
				</div>	
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 colorSchemeA">
					<BR><BR>
					<p> 4 </p>
					<BR><BR>
				</div>	


			</div>
		
		</div>	
	</div>
	

</div>
<br><br><br><br><br><br>


<div class="">

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colorSchemeA">
			
			<div class="row">
			
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colorSchemeA">
					<BR><BR>
					<p> 6 </p>
					<BR><BR>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 colorSchemeB">
					<BR><BR>
					<p> 6 </p>
					<BR><BR>
				</div>	

			</div>
		
		</div>	
	</div>
	

</div>





<br><br><br><br><br><br>

	<div class="container">
		<hr>
		<h2>Grid Layout (Fluid)</h2>
		<h4>These last examples display the "fluid" grid design that Bootstrap implements.  It basically allows DIVs to change their width dynamically in accordance to the window size (viewport).</h4>
		<br>
		<h4>For example, these DIVs will be assigned a width of 6 until it hits a threshold, then they will automatically change to a 12.</h4>
		<hr>
		<br>
	</div>


<div class="container">

	<div class="row">

				
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 colorSchemeA">
				<BR><BR>
				<p> FLUID 6/12 </p>
				<BR><BR>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 colorSchemeB">
				<BR><BR>
				<p> FLUID 6/12 </p>
				<BR><BR>
			</div>	
	</div>
	<br>
	<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 colorSchemeA">
				<BR><BR>
				<p> FLUID 4/12 </p>
				<BR><BR>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 colorSchemeB">
				<BR><BR>
				<p> FLUID 4/12 </p>
				<BR><BR>
			</div>	
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 colorSchemeA">
				<BR><BR>
				<p> FLUID 4/12 </p>
				<BR><BR>
			</div>				


	</div>
	

</div>


<br><br><br><br><br><br>
<br><br><br><br><br><br>