		<!---- LAYOUT EXAMPLES --->
		<div class="container">
			<br><br><br><hr>
			<div class="row">
			  <div class="col-md-1">MD1</div>
			  <div class="col-md-1">MD1</div>
			  <div class="col-md-1">MD1</div>
			  <div class="col-md-1">MD1</div>
			  <div class="col-md-1">MD1</div>
			  <div class="col-md-1">MD1</div>
			  <div class="col-md-1">MD1</div>
			  <div class="col-md-1">MD1</div>
			  <div class="col-md-1">MD1</div>
			  <div class="col-md-1">MD1</div>
			  <div class="col-md-1">MD1</div>
			  <div class="col-md-1">MD1</div>
			</div>
			<div class="row">
			  <div class="col-md-8">MD8</div>
			  <div class="col-md-4">MD4</div>
			</div>
			<div class="row">
			  <div class="col-md-4">MD4</div>
			  <div class="col-md-4">MD4</div>
			  <div class="col-md-4">MD4</div>
			</div>
			<div class="row">
			  <div class="col-md-6">MD6</div>
			  <div class="col-md-6">MD6</div>
			</div>
			<hr><br><br><br>
		</div>
		<!------------------------>
	
		<!----- LAYOUT EXAMPLE --->
		<div class="container">
				<br><br><br>
				<div class="row">
					  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
					  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
					  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
				</div>
				<div class="row">
					<div class="row">
					  <div class="col-md-4">.col-md-4</div>
					  <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
					</div>
					<div class="row">
					  <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
					  <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
					</div>
					<div class="row">
					  <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
					</div>

				</div>			
				<br><br><br>
		</div>
		<!------------------------>