<!-- NAVBAR -->

			<nav class="navbar navbar-fixed-top colorSchemeA" role="navigation">
			  <!-- Brand and toggle get grouped for better mobile display -->
				<div class="container">
				<div class="row">
					  <div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
						  <span class="sr-only">Toggle navigation</span>

						</button>
						<form class="navbar-form navbar-left">
							<img src="siteImg/logo.png" height=50 />
							&nbsp&nbsp&nbsp <a class="btn metro" >UserName &nbsp&nbsp&nbsp <span class="glyphicon glyphicon-circle-arrow-down"></span></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						</form>	
						
						
					
					  </div>
						

					  <!-- Collect the nav links, forms, and other content for toggling -->
					  <div class="collapse navbar-collapse" id="navbarCollapse">	
						<form class="navbar-form navbar-right" >
							<a class="btn metro" onclick="changeHash('')">		<span class="glyphicon glyphicon-chevron-left"></span> Login</a>
						</form>					  
						<form class="navbar-form" >
							<a class="btn metro" onclick="changeHash('', 		1)">		<span class="glyphicon glyphicon-th-large"></span> &nbsp Query + Add </a>
							<a class="btn metro" onclick="changeHash('browse',	1)"> <span class="glyphicon glyphicon-search"></span> &nbsp Browse </a>
							<a class="btn metro" onclick="changeHash('page2',	1)"> <span class="glyphicon glyphicon-check"></span> &nbsp Approval </a>
							<a class="btn metro" onclick="changeHash('page3',	1)"> <span class="glyphicon glyphicon-record"></span> &nbsp Classes </a>
							<a class="btn metro" onclick="changeHash('page4',	1)"> <span class="glyphicon glyphicon-book"></span> &nbsp Administration </a>
						</form>
							
					  </div><!-- /.navbar-collapse -->
					  
					</div>
				</div>
			</nav>

