
	
	<br><br><br><br><br><br>
	<div class="container">
			<hr>
			<h2>Sectionals (fluid layout)</h2>
			<h4>I can include copy, images, or HTML.  Colors are not mandatory.</h4>
			<hr>
			<br>	
	</div>	

	<div class="container">
		<div class="row">
		<div class="col-md-6">	
			<dl class="dl-horizontal btn-primary img-rounded" style="padding: 10px">
			  <dt>SECTION</dt>
			  <dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</dd>
			</dl>
		</div>
		<div class="col-md-6" >	
			<dl class="dl-horizontal btn-primary img-rounded" style="padding: 10px" >
			  <dt>SECTION</dt>
			  <dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</dd>
			</dl>
		</div>		
		</div>
	</div>
	
	
	<div class="container">
		<div class="row">
		<div class="col-md-12">	
			<dl class="dl-horizontal btn-success img-rounded" style="padding: 10px">
			  <dt>SECTION</dt>
			  <dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</dd>
			</dl>
		</div>
		<div class="col-md-12" >	
			<dl class="dl-horizontal btn-success img-rounded" style="padding: 10px" >
			  <dt>SECTION</dt>
			  <dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</dd>
			</dl>
		</div>		
		</div>
	</div>	
	

	<br><br><br><br><br><br>
	<div class="container">
			<hr>
			<h2>Sectionals (Fullscreen)</h2>
			<h4>Same, but not in a container.</h4>
			<hr>
			<br>	
	</div>	
	
	

		<div class="row">
		<div class="col-md-6">	
			<dl class="dl-horizontal btn-primary img-rounded" style="padding: 10px">
			  <dt>SECTION</dt>
			  <dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</dd>
			</dl>
		</div>
		<div class="col-md-6" >	
			<dl class="dl-horizontal btn-primary img-rounded" style="padding: 10px" >
			  <dt>SECTION</dt>
			  <dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</dd>
			</dl>
		</div>		
		</div>

		<br>
	
	
		<div class="row">
		<div class="col-md-12">	
			<dl class="dl-horizontal btn-success img-rounded" style="padding: 10px">
			  <dt>SECTION</dt>
			  <dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</dd>
			</dl>
		</div>
		<div class="col-md-12" >	
			<dl class="dl-horizontal btn-success img-rounded" style="padding: 10px" >
			  <dt>SECTION</dt>
			  <dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</dd>
			</dl>
		</div>		
		</div>	

	<br><br><br><br><br><br>
	<div class="container">
			<hr>
			<h2>Sectionals (static layout)</h2>
			<h4>Containers that do not use fluid design, but remain static.</h4>
			<hr>
			<br>	
	</div>	

	<div class="container">
		<div class="row">
		<div class="col-md-4 col-xs-4 btn-primary edgeMinor" style="padding: 10px">	

			  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			
		</div>
		<div class="col-md-4 col-xs-4 btn-info edgeMinor" style="padding: 10px">	

			  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			  
			
		</div>
		<div class="col-md-4 col-xs-4 btn-primary edgeMinor" style="padding: 10px">	

			  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			
		</div>		
		</div>
	</div>
	
	
	<div class="container">
		<div class="row">
		<div class="col-md-6 col-xs-6">	
			<dl class="dl-horizontal btn-success img-rounded" style="padding: 10px">
			  <dt>SECTION</dt>
			  <dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</dd>
			</dl>
		</div>
		<div class="col-md-6 col-xs-6">	
			<dl class="dl-horizontal btn-success img-rounded" style="padding: 10px" >
			  <dt>SECTION</dt>
			  <dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</dd>
			</dl>
		</div>		
		</div>
	</div>	
	
		<br><br><br><br><br><br>
			<br><br><br><br><br><br>