	<br><br><br><br><br><br>
	<div class="container">
			<hr>
			<h2>Table (Centered)</h2>
			<h4>I'm a graph with a header</h4>
			<hr>
			<br>	
	</div>	
	
	<div class="container">
	<br><br><br>
		<div class="col-md-6 col-md-offset-3">	
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Panel heading</div>
				  <div class="panel-body">
					<p>I am the panel heading.</p>
				  </div>

				  <!-- Table -->
			<table class="table table-hover">
				<thead>
				  <tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Username</th>
					<th>Column</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>1</td>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
					<td>1</td>
				  </tr>
				  <tr>
					<td>2</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fat</td>
				  </tr>
				  <tr>
					<td>3</td>
					<td colspan="2">Larry the Bird</td>
					<td>@twitter</td>
				  </tr>
				  <tr>
					<td>3</td>
					<td colspan="2">Larry the Bird</td>
					<td>@twitter</td>
				  </tr>
				  <tr>
					<td>3</td>
					<td colspan="2">Larry the Bird</td>
					<td>@twitter</td>
				  </tr>
				</tbody>
			  </table>	
				  </div>
				</div>
			
		</div>
	<br><br><br>
	</div>
	
	<br><br><br><br><br><br>
	
	<div class="container">
			<hr>
			<h2>Table (Fullscreen)</h2>
			<h4>I'm a graph with a header</h4>
			<hr>
			<br>	
	</div>	
	
	<div class="container">
	<br><br><br>
		<div class="col-xs-12 ">	
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Panel heading</div>
				  <div class="panel-body">
					<p>I am the panel heading.</p>
				  </div>

				  <!-- Table -->
			<table class="table table-hover">
				<thead>
				  <tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Username</th>
					
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>1</td>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
					
				  </tr>
				  <tr>
					<td>2</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fat</td>
				  </tr>
				  <tr>
					<td>3</td>
					<td colspan="2">Larry the Bird</td>
					<td>@twitter</td>
				  </tr>
				  <tr>
					<td>3</td>
					<td colspan="2">Larry the Bird</td>
					<td>@twitter</td>
				  </tr>
				  <tr>
					<td>3</td>
					<td colspan="2">Larry the Bird</td>
					<td>@twitter</td>
				  </tr>
				</tbody>
			  </table>	
				  </div>
				</div>
			
		</div>
	<br><br><br>
	</div>	
	
	
	<br><br><br><br><br><br>