
	<div class="container">
			<hr>
			<h2>Animated Header</h2>
			<h4>The header can be animated in several different ways.  These can be triggered manually, automatically (by watching the scroll distance), or by default.  It can be fixed or static.  Colors and shapes can be adjusted in the CSS file.</h4>
			<hr>
			<br>	
	</div>	
	

<div class="container">
	
		<h3>Elastic Transition</h3>
			<p><a onclick="changeHeader(0)" class="btn"> Normal Size </a></p>
			<p><a onclick="changeHeader(1)" class="btn"> Large Size </a></p>
			<p><a onclick="changeHeader(10)" class="btn"> Reveal Submenu </a></p>
			<p><a onclick="changeHeader(2)" class="btn"> Hide </a></p>
			<p><a onclick="changeHeader(3)" class="btn"> Reveal (if hidden) </a></p>
			<p><a onclick="changeHeader(4)" class="btn"> Relocate </a></p>
			<p><a onclick="changeHeader(5)" class="btn"> Relocate and Rotate </a></p>
			<p><a onclick="changeHeader(6)" class="btn"> Back (from Rotate) </a></p>
			<p><a onclick="changeHeader(7)" class="btn"> Change Color </a></p>
			<p><a onclick="changeHeader(8)" class="btn"> Shrink to Box </a></p>		
			<p><a onclick="changeHeader(9)" class="btn"> Full Screen </a></p>		
		<script>


		
		</script>